<%- d = DateTime.now %>
<%- m = DateTime.now.month %>
<script type="text/javascript">
  var chart1; // globally available
  $(document).ready(function() {
        chart1 = new Highcharts.Chart({
           chart: {
              renderTo: 'expense-chart',
              defaultSeriesType: 'bar'
           },
           title: {
              text: '<%="Transactions for #{Date::MONTHNAMES[d.month]}, #{d.year}"%> <%="#{number_to_currency(Transaction.total(m))}/#{number_to_currency(8000 - Transaction.total(m))}"%>'
           },
           xAxis: {
              categories: [<%=Category.all.collect { |c| "'#{c.name}', "} %>]
           },
           yAxis: {
              title: {
                 text: 'Spendage'
              }
           },
           tooltip: {
             formatter: function() {
               return "$" + Highcharts.numberFormat(this.y, 2) 
               + ' (' + this.series.name + ')';
             }
           },           
           series: [
           <% User.all.each do |user| %>
           {
              name: '<%= "#{user.firstname} #{number_to_currency(Transaction.month_user_total(DateTime.now.month, user))}"%>',
              data: [<%= Category.all.map {|c| "#{Transaction.month_user_category_total(DateTime.now.month, user, c)}, "  }%>]
           },
           <% end %>
           ]
        });
     });
</script>

<div id="expense-chart"></div>