<script type="text/javascript">
  var chart1; // globally available
  $(document).ready(function() {
        chart1 = new Highcharts.Chart({
           chart: {
              renderTo: 'expense-chart',
              defaultSeriesType: 'bar'
           },
           title: {
              text: '<%="#{Date::MONTHNAMES[@month]}, 2011"%> <%=" #{number_to_currency(Transaction.debits.by_month(@month).sum(:amount))} (Budget: #{number_to_currency(8000 - Transaction.debits.by_month(@month).sum(:amount))}, Income: #{number_to_currency(Transaction.credits.by_month(@month).sum(:amount))})"%>'
           },
           xAxis: {
              categories: [<%=Category.all.collect { |c| "'#{c.name}', "} %>]
           },
           yAxis: {
              title: {
                 text: 'Spendage'
              }
           },
           tooltip: {
             formatter: function() {
               return "$" + Highcharts.numberFormat(this.y, 2) 
               + ' (' + this.series.name + ')';
             }
           },           
           series: [
           <% User.all.each do |user| %>
           {
              name: '<%= "#{user.firstname} #{number_to_currency(Transaction.debits.by_user(user.id).by_month(@month).sum(:amount))}"%>',
              data: [<%= Category.all.map {|c| 
                    "#{Transaction.debits.by_user(user.id).by_category(c.id).by_month(@month).sum(:amount)}, "  }%>]
           },
           <% end %>
           ]
        });
     });
</script>

<div id="expense-chart"></div>