= render 'chart'
    
.transactions
  - Category.all(:order => 'name').each do |category|
    .transaction
      .category
        = category.name
      .amount
        = "$#{Transaction.month_category_total(6, category)}"
    .categories
      - Transaction.month_category(6,category).each do |transaction|
        .spend
          = transaction.spent_at.strftime('%d/%m/%Y')
          = transaction.user.fullname
          = transaction.description
        .amount
          = "$#{transaction.amount}"

= content_for(:details) do
  .history
    %h2 Spending
    = link_to 'New transaction', rails_admin_new_url('transaction')
    %br
    %br
    - Transaction.all(:order => 'spent_at DESC').each do |transaction|
      = "$#{transaction.amount}"
      %br
      = "#{transaction.spent_at.strftime('%d/%m/%Y %H:%M:%S')}"
      %br
      = transaction.user.fullname
      |
      = link_to 'Edit', rails_admin_edit_url('transaction', transaction)
      %br
      = transaction.category.name
      %br
      = transaction.description
      %br
      %br
  
    