- d = DateTime.now
-title "Expenses for #{Date::MONTHNAMES[d.month]}, #{d.year}"

%h2
  ="$#{Expense.total}/$#{7000 - Expense.total}" 

%h3
  - User.all.each do |user|
    = "#{user.firstname}: $#{Expense.month_user_total(6, user)}"
    %br

= render 'chart'
    
.expenses
  - Category.all(:order => 'name').each do |category|
    .expense
      .category
        = category.name
      .amount
        = "$#{Expense.month_category_total(6, category)}"
    .categories
      - Expense.month_category(6,category).each do |expense|
        .spend
          = expense.spent_at.strftime('%d/%m/%Y')
          = expense.user.fullname
          = expense.description
        .amount
          = "$#{expense.amount}"

= content_for(:details) do
  .history
    %h2 Spending
    = link_to 'New Expense', rails_admin_new_url('Expense')
    %br
    %br
    - Expense.all(:order => 'spent_at DESC').each do |expense|
      = "$#{expense.amount}"
      %br
      = "#{expense.spent_at.strftime('%d/%m/%Y %H:%M:%S')}"
      %br
      = expense.user.fullname
      |
      = link_to 'Edit', rails_admin_edit_url('Expense', expense)
      %br
      = expense.category.name
      %br
      = expense.description
      %br
      %br
  
    