= render 'chart'

.transactions

  - Category.incomes.each do |category|
    .transaction
      .category.credit
        = category.name
      .amount.credit
        = "#{number_to_currency(Transaction.credits.by_month(@month).sum(:amount))}"
    .categories
      - Transaction.credits.by_category(category.id).by_month(@month).each do |transaction|
        .spend
          = transaction.spent_at.strftime('%d/%m/%Y')
          = transaction.user.fullname
          = transaction.description
        .amount
          = "$#{transaction.amount}"

  - Category.debits(:order => 'name').each do |category|
    .transaction
      .category.debit
        = category.name
      .amount.debit
        = "#{number_to_currency(Transaction.debits.by_category(category.id).by_month(@month).sum(:amount))}"
    .categories
      - Transaction.debits.by_category(category.id).by_month(@month).desc.each do |transaction|
        .spend
          = transaction.spent_at.strftime('%d/%m/%Y')
          = transaction.user.fullname
          = transaction.description
        .amount
          = "$#{transaction.amount}"

= content_for(:details) do
  .history
    %h2 Spending
    = link_to 'New transaction', rails_admin_new_url('transaction')
    %br
    %br
    -if @transactions.nil?

    -else
      - @transactions.each do |transaction|
        = "#{number_to_currency(transaction.amount)}"
        %br
        = "#{transaction.spent_at.strftime('%d/%m/%Y %H:%M:%S')}"
        %br
        = transaction.user.fullname
        |
        = link_to 'Edit', rails_admin_edit_url('transaction', transaction)
        %br
        = transaction.category.name
        %br
        = transaction.description
        %br
        %br
  
    