- d = DateTime.now
-title "Expenses for #{Date::MONTHNAMES[d.month]}, #{d.year}"

%h2
  ="$#{Expense.total}/$#{7000 - Expense.total}" 

.expenses
  - Category.all(:order => 'name').each do |category|
    .expense
      .category
        = category.name
      .amount
        = "$#{Expense.month_category_total(6, category)}"
    .categories
      - Expense.month_category(6,category).each do |expense|
        .spend
          = expense.spent_at.strftime('%Y-%m-%d')
          = expense.user.fullname
          = expense.description
        .amount
          = "$#{expense.amount}"

= content_for(:details) do
  .history
    %h2 Spending
    = link_to 'New Expense', rails_admin_new_url('Expense')
    %br
    %br
    - Expense.all(:order => 'id DESC').each do |expense|
      = "$#{expense.amount}"
      %br
      = expense.spent_at.strftime('%Y-%m-%d %H:%M:%S')
      %br
      = expense.user.fullname
      %br
      = expense.category.name
      %br
      = expense.description
      %br
      %br
  
    