%h1 Listing expenses

%table
  %tr
    %th User
    %th Category
    %th When
    %th Amount
    %th Description
    %th
    %th
    %th

  - @expenses.each do |expense|
    %tr
      %td= expense.user.email
      %td= expense.category.name
      %td= expense.when.strftime('%Y-%m-%d %H:%M:%S')
      %td= expense.amount
      %td= expense.description

%br

= link_to 'New Expense', rails_admin_new_url('Expense')
