%p#notice= notice

%p
  %b User:
  = @expense.user_id
%p
  %b When:
  = @expense.when
%p
  %b Amount:
  = @expense.amount
%p
  %b Description:
  = @expense.description

= link_to 'Edit', edit_expense_path(@expense)
\|
= link_to 'Back', expenses_path
